body {

}
.pics-in-text {

}
.pics-in-text img {
    height: 200px;
    width: auto;
}

@media (max-width: 1070px) {
    header {
        width: 100vw;
        height: 24%;
    }
    .main {
        display: block;
    }
    .content1 {
        padding: 1%;
    }
    .menu {
        margin-top: 25%;
    }
    .pics-in-text {
        display: block;
    }
    .pics-in-text img {
        height: 40vh;
    }
    footer {
        width: 100vw;
    }
}